/* Custom Fonts */
@font-face {
  font-family: 'Futura PT';
  src: local('Futura PT ExtraBold'), local('Futura-PT-ExtraBold'),
       url('FuturaPT-ExtraBold.woff2') format('woff2'),
       url('FuturaPT-ExtraBold.woff') format('woff'),
       url('FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
} 